* {
  user-select: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, a, button, span {
  font-size: 18px;
}

body {
  background-color: #c4c4c4;
  margin: 32px 0;
}

a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: #000;
}

ul {
  list-style-type: none;
  padding: 0;
}

form {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

button {
  padding: 8px 32px;
}

p {
  margin-top: 0;
}

h1, h2 {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.form-group {
  display: flex;
  align-items: center;
}

input {
  width: 22px;
  height: 22px;
}

#content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  margin: 0 32px;
}

#description {
  max-width: 512px;
}

.m-bottom {
  margin-bottom: 16px;
}

#board {
  border: 1px solid;
  border-radius: 4px;
  display: inline-grid;
  grid-template-columns: repeat(12, 64px);
  grid-template-rows: repeat(12, 64px);
  box-shadow: 8px 8px 0px 3px rgba(0, 0, 0, 1);
}

.cell {
  position: relative;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  background-color: #3c3c3c;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cell--with-border {
  border: 1px solid #000;
}

.cell:hover {
  cursor: not-allowed;
}

.cell--enabled {
  background-color: #fff;
}

.cell--enabled:hover {
  cursor: pointer;
}

.cell--show-weight::after {
  content: attr(data-weight);
}

.cell--selected {
  background-color: #5ab95a;
}

#ghost {
  width: 62px;
  height: 62px;
  position: absolute;
}
